<div class="accordion">
    <div class="accordion-item">
      <div class="accordion-header" onclick="toggleAccordion(this)">
	  1. What is Microsoft Excel?
	  </div>
      <div class="accordion-content">
        <p>
			Microsoft Excel is an electronic spreadsheet application that enables users to store, organize, calculate and manipulate the data with formulas using a spreadsheet system broken up by rows and columns. It also provides the flexibility to use an external database to do analysis, make reports, etc. thus saving lots of time.
		</p>
      </div>
    </div>

    <div class="accordion-item">
      <div class="accordion-header" onclick="toggleAccordion(this)">
	  2. What is ribbon?
	  </div>
      <div class="accordion-content">
        <p>
    Ribbon refers to the topmost area of the application that contains menu items and toolbars available in MS-Excel. Ribbon can be shown/hidden using CTRL+F1. The ribbon runs on the top of the application and is the replacement for the toolbars and menus. The ribbons have various tabs on the top, and each tab has its own group of commands.
		</p>
      </div>
    </div>
	
	<div class="accordion-item">
      <div class="accordion-header" onclick="toggleAccordion(this)">
	  3. Explain Spreadsheet and its Basics.
	  </div>
      <div class="accordion-content">
        <p>
    Spreadsheet can be compared to a paper ledger sheet. It consists of rows and columns and their intersection called cells.
		</p>
      </div>
    </div>
	
	<div class="accordion-item">
      <div class="accordion-header" onclick="toggleAccordion(this)">
	  4. How many data formats are available in Excel? Name some of them.
	  </div>
      <div class="accordion-content">
        <p>
    Eleven data formats are available in Microsoft Excel for data Storage. Example:<br>
    Number – Stores data as a number <br>
    Currency – Stores data in the form of currency <br>
    Date – Data is stored as dates <br>
    Percentage – Stores numbers as a percentage <br>
    Text Formats – Stores data as string of texts <br>		
	</p>
      </div>
    </div>
	
	<div class="accordion-item">
      <div class="accordion-header" onclick="toggleAccordion(this)">
    5. Specify the order of operations used for evaluating formulas in Excel.
	  </div>
      <div class="accordion-content">
        <p>
    The order of operations in Microsoft Excel is same as in standard mathematics. It’s defined by the term “PEMDAS” or “BEDMAS”.<br>
    Parentheses or Brackets <br>
    Exponent <br>
    Multiplication <br>
    Division <br>
    Addition <br>
    Subtraction <br>		
	</p>
      </div>
    </div>
	
	<div class="accordion-item">
      <div class="accordion-header" onclick="toggleAccordion(this)">
6. How can you wrap the text within a cell?
	  </div>
      <div class="accordion-content">
        <p>
   You must select the text you want to wrap, and then click wrap text from the home tab and you can wrap the text within a cell.		
	</p>
      </div>
    </div>

	<div class="accordion-item">
      <div class="accordion-header" onclick="toggleAccordion(this)">
7. Explain Macro in MS-Excel.
	  </div>
      <div class="accordion-content">
        <p>
Macros are used for iterating over a group of tasks. Users can create macros for their customized repetitive functions and instructions. Macros can be either written or recorded depending on the user.
	</p>
      </div>
    </div>

	<div class="accordion-item">
      <div class="accordion-header" onclick="toggleAccordion(this)">
8. Which are the two macro languages in MS-Excel?
	  </div>
      <div class="accordion-content">
        <p>
XLM and VBA (Visual Basic Applications). Earlier versions of Excel used XLM. VBA was introduced in Excel 5 and mostly used now.
	</p>
      </div>
    </div>

	<div class="accordion-item">
      <div class="accordion-header" onclick="toggleAccordion(this)">
9. Is it possible to prevent someone from copying the cell from your worksheet?
	  </div>
      <div class="accordion-content">
        <p>
Yes, it is possible. To protect your worksheet from getting copied, you need to go into Menu bar >Review > Protect Sheet > Password. By entering a password, you can secure your sheet from getting copied by others.
	</p>
      </div>
    </div>	

	<div class="accordion-item">
      <div class="accordion-header" onclick="toggleAccordion(this)">
10. What are charts in MS-Excel?
	  </div>
      <div class="accordion-content">
        <p>
To enable graphical representation of the data in Excel, charts are provided. A user can use any chart type, including column, bar, line, pie, scatter, etc. by selecting an option from Insert tab’s Chart group.
	</p>
      </div>
    </div>
	
	<div class="accordion-item">
      <div class="accordion-header" onclick="toggleAccordion(this)">
11. How can you sum up the Rows and Column number quickly in the Excel sheet?
	  </div>
      <div class="accordion-content">
        <p>
By using SUM function, you can get the total sum of the rows and columns, in an Excel worksheet.
	</p>
      </div>
    </div>

	<div class="accordion-item">
      <div class="accordion-header" onclick="toggleAccordion(this)">
12. Explain few useful functions in Excel.
	  </div>
      <div class="accordion-content">
        <p>
Math and Financial Functions – SQRT, DEGREE, RAND(), GCD <br>
Logical Functions – IF, AND, FALSE, TRUE <br>
Date and Time functions – NOW(), DATEVALUE(), WEEKDAY(NOW()) <br>
Index Match – VLOOKUP and INDEX MATCH <br>
Pivot tables <br>
	</p>
      </div>
    </div>

	<div class="accordion-item">
      <div class="accordion-header" onclick="toggleAccordion(this)">
13. What does a red triangle at the top right of a cell indicate?
	  </div>
      <div class="accordion-content">
        <p>
The red triangle indicates that some comment is associated with the cell. Hover the mouse over it, and you can read the full comment.
	</p>
      </div>
    </div>

	<div class="accordion-item">
      <div class="accordion-header" onclick="toggleAccordion(this)">
14. How can you add a new Excel worksheet?
	  </div>
      <div class="accordion-content">
        <p>
To add a new Excel worksheet, you should insert worksheet tab at the bottom of the screen.
	</p>
      </div>
    </div>

	<div class="accordion-item">
      <div class="accordion-header" onclick="toggleAccordion(this)">
15. What is the use of NameBox in MS-Excel?
	  </div>
      <div class="accordion-content">
        <p>
Name Box is used to return to a particular area of the worksheet by typing the range name or cell address in the name box.
	</p>
      </div>
    </div>

	<div class="accordion-item">
      <div class="accordion-header" onclick="toggleAccordion(this)">
16. How can you resize the column?
	  </div>
      <div class="accordion-content">
        <p>
To resize the column, you should change the width of one column and then drag the boundary on the right side of the column heading till the width you want. The other way of doing it is to select the Format from the home tab, and in Format you have to select AUTOFIT COLUMN WIDTH under cell section. On clicking on this, the cell size will get formatted.
	</p>
      </div>
    </div>

	<div class="accordion-item">
      <div class="accordion-header" onclick="toggleAccordion(this)">
17. Explain pivot tables and its uses.
	  </div>
      <div class="accordion-content">
        <p>
A pivot table is a tool that allows for quick summarization of large data. It automatically performs a sort, count, total or average of the data stored in the spreadsheet and displays result in another spreadsheet. It saves a lot of time. Allows to link external data sources to our Excel.
	</p>
      </div>
    </div>

	<div class="accordion-item">
      <div class="accordion-header" onclick="toggleAccordion(this)">
18. What are three report formats that are available in Excel?
	  </div>
      <div class="accordion-content">
        <p>
Compact <br>
Report <br>
Tabular <br>
	</p>
      </div>
    </div>

	<div class="accordion-item">
      <div class="accordion-header" onclick="toggleAccordion(this)">
19. How would you provide a Dynamic range in “Data Source” of Pivot Tables?
	  </div>
      <div class="accordion-content">
        <p>
To provide a dynamic range in “Data Source” of Pivot tables, first, create a named range using offset function and base the pivot table using a named range created in the first step.
	</p>
      </div>
    </div>

	<div class="accordion-item">
      <div class="accordion-header" onclick="toggleAccordion(this)">
20. Is it possible to make Pivot table using multiple sources of data?
	  </div>
      <div class="accordion-content">
        <p>
If the multiple sources are different worksheets, from the same workbook, then it is possible to make Pivot table using multiple sources of data.
	</p>
      </div>
    </div>

	<div class="accordion-item">
      <div class="accordion-header" onclick="toggleAccordion(this)">
21. Which event do you use to check whether the Pivot Table is modified or not?
	  </div>
      <div class="accordion-content">
        <p>
To check whether the pivot table is modified or not we use “PivotTableUpdate” in worksheet containing the pivot table.
	</p>
      </div>
    </div>

	<div class="accordion-item">
      <div class="accordion-header" onclick="toggleAccordion(this)">
22. How can you disable automatic sorting in pivot tables?
	  </div>
      <div class="accordion-content">
        <p>
Go To > More Sort Options > Right Click ‘Pivot tables’ > Select ‘sort menu’ > select ‘More Options’ > deselect ‘Sort automatically’.
	</p>
      </div>
    </div>

	<div class="accordion-item">
      <div class="accordion-header" onclick="toggleAccordion(this)">
23. What is Freeze Panes in MS-Excel?
	  </div>
      <div class="accordion-content">
        <p>
To lock any row or column, freeze panes is used. The locked row or column will be visible on the screen even after we scroll the sheet vertically or horizontally.
	</p>
      </div>
    </div>

	<div class="accordion-item">
      <div class="accordion-header" onclick="toggleAccordion(this)">
24. What could you do to stop the pivot table from loosing the column width upon refreshing?
	  </div>
      <div class="accordion-content">
        <p>
Format loss in a pivot table can be stopped simply by changing the pivot table options. Under the “Pivot Table Options” turn on the “Enable Preserve Formatting” and disable “Auto Format” option.
	</p>
      </div>
    </div>

	<div class="accordion-item">
      <div class="accordion-header" onclick="toggleAccordion(this)">
25. Explain workbook protection types in Excel.
	  </div>
      <div class="accordion-content">
        <p>
Password protection for opening a workbook <br>
Protection for adding, deleting, hiding and unhiding sheets <br>
Protection from changing size or position of windows. <br>
	</p>
      </div>
    </div>

	<div class="accordion-item">
      <div class="accordion-header" onclick="toggleAccordion(this)">
26. Difference between COUNT, COUNTA, COUNTIF and COUNTBLANK in Ms-Excel.
	  </div>
      <div class="accordion-content">
        <p>
COUNT is used to count cells containing numbers, dates, etc. any value stored as number excluding blanks. <br>
COUNTA or Count All is used to count any cell value containing numbers, text, logical values, etc. any type of value excluding blanks.<br>
COUNTBLANK count blank cells or cells with an empty string. <br>
COUNTIF and COUNTIFS count cells matching a certain criteria. <br>
	</p>
      </div>
    </div>

	<div class="accordion-item">
      <div class="accordion-header" onclick="toggleAccordion(this)">
27. What is IF function in Excel?
	  </div>
      <div class="accordion-content">
        <p>
To perform the logic test IF function is performed. It checks whether certain conditions is true or false. If the condition is true, then it will give result accordingly if the condition is false then the result or out-put will be different.<br>
Example: For example, you select the cell, and you want to display that cell as “Greater than five,” when value is true (=5 or 5) and “less than five” when value is false (<5). For that by using IF condition you can display result.<br>
=IF (Logical test, value if true, value if false)<br>
=IF (A1>5, “Greater than five, “Less than five”)<br>	</p>
      </div>
    </div>

	<div class="accordion-item">
      <div class="accordion-header" onclick="toggleAccordion(this)">
28. Can we create shortcuts to Excel functions?
	  </div>
      <div class="accordion-content">
        <p>
Yes. ‘Quick Access Toolbar’ above the home button can be customized to display most frequently used shortcuts.
	</p>
      </div>
    </div>

	<div class="accordion-item">
      <div class="accordion-header" onclick="toggleAccordion(this)">
29. What is the use of LOOKUP function in Excel?
	  </div>
      <div class="accordion-content">
        <p>
In Microsoft Excel, the LOOKUP function returns a value from a range or an array.
	</p>
      </div>
    </div>

	<div class="accordion-item">
      <div class="accordion-header" onclick="toggleAccordion(this)">
30. How can you apply the same formatting to every sheet in a workbook in MS-Excel?
	  </div>
      <div class="accordion-content">
        <p>
Right Click ‘Worksheet tab’ > Choose ‘Select All Sheets’. Now any formatting done will be applied to the whole workbook. To apply to a particular group of sheets, select only those sheets that need formatting.
	</p>
      </div>
    </div>	


</div>