<!-- PART 1 START HERE -->
<br>
<button onclick="toggleHiddenItem('part1')">Click to hide or view 01 to 10</button>
<div class="hidden-item" id="part1">
<br>

    <div class="question" onclick="toggleAnswer('answer1')">
    1.  Human Resource departments are______________?
    </div>
    <div class="answer" id="answer1">
        <div class="question"  style="color: #0000ff;" onclick="toggleAnswer('answer1')">
            Answer: service department
        </div>
    </div>
    
    <div class="question" onclick="toggleAnswer('answer2')">
    2. What is human factor?
    </div>
    <div class="answer" id="answer2">
        <div class="question"  style="color: #0000ff;" onclick="toggleAnswer('answer2')">
            Answer: Interrelated Physiological, Psychological and Socio-ethical aspects of human being.
        </div>
    </div>
    
    <div class="question" onclick="toggleAnswer('answer3')">
    3. Job Analysis is a systematic procedure for securing and reporting information defining a ______________.
    </div>
    <div class="answer" id="answer3">
        <div class="question"  style="color: #0000ff;" onclick="toggleAnswer('answer3')">
            Answer: specific job
        </div>
    </div>
    
    <div class="question" onclick="toggleAnswer('answer4')">
    4. What are the factors responsible for the growth of HRM?
    </div>
    <div class="answer" id="answer4">
        <div class="question"  style="color: #0000ff;" onclick="toggleAnswer('answer4')">
            Answer: Technical factors, awakening amongst workers, attitude of the government, cultural and social system.
        </div>
    </div>
    
    <div class="question" onclick="toggleAnswer('answer5')">
    5. Which among the followings describe the skills that are available within the company?
    </div>
    <div class="answer" id="answer5">
        <div class="question"  style="color: #0000ff;" onclick="toggleAnswer('answer5')">
            Answer: Human Resource inventory
        </div>
    </div>
    
    <div class="question" onclick="toggleAnswer('answer6')">
    6. Who has defined personnel management as a field of management which has to do with planning and controlling various operative functions of procuring, developing, maintaining and utilising labour force?
    </div>
    <div class="answer" id="answer6">
        <div class="question"  style="color: #0000ff;" onclick="toggleAnswer('answer6')">
            Answer: Michael Jucius
        </div>
    </div>
    
    <div class="question" onclick="toggleAnswer('answer7')">
    7. Resources and capabilities that serve as a source of competitive advantage for a firm over its rivals are called _______________.
    </div>
    <div class="answer" id="answer7">
        <div class="question"  style="color: #0000ff;" onclick="toggleAnswer('answer7')">
            Answer: core competency
        </div>
    </div>
    
    <div class="question" onclick="toggleAnswer('answer8')">
    8. Human Resource planning is compulsory for ______________.
    </div>
    <div class="answer" id="answer8">
        <div class="question"  style="color: #0000ff;" onclick="toggleAnswer('answer8')">
            Answer: 
            i. effective employee development programme <br>
            ii. base for recruitment  <br>
            iii. base for selection policy  <br>
        </div>
    </div>
    
    <div class="question" onclick="toggleAnswer('answer9')">
    9. Job analysis, HR planning, recruitment, selection, placement, inductions and internal mobility are few important functions which come under the heading of______________ of HRM.
    </div>
    <div class="answer" id="answer9">
        <div class="question"  style="color: #0000ff;" onclick="toggleAnswer('answer9')">
            Answer: procurement function
        </div>
    </div>
    
    <div class="question" onclick="toggleAnswer('answer10')">
    10. Directing is one of the important functions of HRM which comes under___________.
    </div>
    <div class="answer" id="answer10">
        <div class="question"  style="color: #0000ff;" onclick="toggleAnswer('answer10')">
            Answer: managerial function
        </div>
    </div>    

    
</div>
<br>

<!-- PART 2 START HERE -->
<button onclick="toggleHiddenItem('part2')">Click  to hide or view 11 to 20</button>
<div class="hidden-item" id="part2">
<br>

<div class="question" onclick="toggleAnswer('answer11')">
    11. Whom does Human relation approach refer to?
    </div>
    <div class="answer" id="answer11">
        <div class="question"  style="color: #0000ff;" onclick="toggleAnswer('answer11')">
            Answer: Integration of people into a work situation that motivates them to work together to achieve productivity and also economic, psychological and social satisfaction.<br>
        </div>
    </div>
    
    <div class="question" onclick="toggleAnswer('answer12')">
    12. Which of the following is a method of collection of information for job analysis?
    </div>
    <div class="answer" id="answer12">
        <div class="question"  style="color: #0000ff;" onclick="toggleAnswer('answer12')">
            Answer: Questionnaire method
        </div>
    </div>
    
    
    <div class="question" onclick="toggleAnswer('answer13')">
    13. ___________ provides information on the human attributes in terms of education, skills, aptitudes, and experience necessary to perform a job effectively.
    </div>
    <div class="answer" id="answer13">
        <div class="question"  style="color: #0000ff;" onclick="toggleAnswer('answer13')">
            Answer: job specification
        </div>
    </div>
    
    <div class="question" onclick="toggleAnswer('answer14')">
    14. Who laid the foundation of HRM practice?
    </div>
    <div class="answer" id="answer14">
        <div class="question"  style="color: #0000ff;" onclick="toggleAnswer('answer14')">
            Answer: Peter Drucker and Douglas McGregor
        </div>
    </div>
    
    <div class="question" onclick="toggleAnswer('answer14')">
    15. How HRM has become a highly specialised job?
    </div>
    <div class="answer" id="answer14">
        <div class="question"  style="color: #0000ff;" onclick="toggleAnswer('answer14')">
            Answer: It maximises the output and satisfaction of the employees.
        </div>
    </div>
    
    <div class="question" onclick="toggleAnswer('answer15')">
    15. How HRM has become a highly specialised job?
    </div>
    <div class="answer" id="answer15">
        <div class="question"  style="color: #0000ff;" onclick="toggleAnswer('answer15')">
            Answer: It maximises the output and satisfaction of the employees.
        </div>
    </div>
    
    <div class="question" onclick="toggleAnswer('answer16')">
    16. Job specification includes _____________.
    </div>
    <div class="answer" id="answer16">
        <div class="question"  style="color: #0000ff;" onclick="toggleAnswer('answer16')">
            Answer: <br>
            i. Physical characteristics <br>
            ii. Psychological characteristics <br>
            iii. Personal characteristics <br>
        </div>
    </div>
    
    <div class="question" onclick="toggleAnswer('answer17')">
    17. TQM’s major emphasis is on___________ .
    </div>
    <div class="answer" id="answer17">
        <div class="question"  style="color: #0000ff;" onclick="toggleAnswer('answer17')">
            Answer: Product quality
        </div>
    </div>
    
    <div class="question" onclick="toggleAnswer('answer18')">
    18. Ability to perform exceptionally well and increase the stock of targeted resources within the firm is called ___________.
    </div>
    <div class="answer" id="answer18">
        <div class="question"  style="color: #0000ff;" onclick="toggleAnswer('answer18')">
            Answer: competency
        </div>
    </div>
    
    <div class="question" onclick="toggleAnswer('answer19')">
    19. What is the scope of HRM?
    </div>
    <div class="answer" id="answer19">
        <div class="question"  style="color: #0000ff;" onclick="toggleAnswer('answer19')">
            Answer: Further researches in behavioural science, new ideas in man, management and advances in the field of training and development.
        </div>
    </div>
    
    <div class="question" onclick="toggleAnswer('answer19')">
    20. What is the importance of controlling?
    </div>
    <div class="answer" id="answer19">
        <div class="question"  style="color: #0000ff;" onclick="toggleAnswer('answer19')">
            Answer: Ensure that activities are in accordance with the terms of the plan.
        </div>
    </div>

</div>
<br>

<!-- PART 3 START HERE -->
<button onclick="toggleHiddenItem('part3')">Click to hide or view 21 to 30</button>
<div class="hidden-item" id="part3">
<br>
    

</div>
<br>

<!-- PART 4 START HERE -->
<button onclick="toggleHiddenItem('part4')">Click to hide or view 31 to 40</button>
<div class="hidden-item" id="part4">
<br>


</div>
<br>


<!-- PART 5 START HERE -->
<button onclick="toggleHiddenItem('part5')">Click to hide or view 41 to 50</button>
<div class="hidden-item" id="part5">
<br>


</div>
<br>


<!-- PART 6 START HERE -->
<button onclick="toggleHiddenItem('part6')">Click to hide or view 51 to 60</button>
<div class="hidden-item" id="part6">
<br>


</div>
<br>




