<div class="accordion">


    <div class="accordion-item">
      <div class="accordion-header" onclick="toggleAccordion(this)">
    1.  Human Resource departments are?
	  </div>
      <div class="accordion-content">
        <p>
			service department
		</p>
      </div>
    </div>

    <div class="accordion-item">
      <div class="accordion-header" onclick="toggleAccordion(this)">
    2. What is human factor?
	  </div>
      <div class="accordion-content">
        <p>
			Interrelated Physiological, Psychological and Socio-ethical aspects of human being.
		</p>
      </div>
    </div>
	
	    <div class="accordion-item">
      <div class="accordion-header" onclick="toggleAccordion(this)">
    3.  Job Analysis is a systematic procedure for securing and reporting information defining a
	  </div>
      <div class="accordion-content">
        <p>
			specific job
		</p>
      </div>
    </div>

    <div class="accordion-item">
      <div class="accordion-header" onclick="toggleAccordion(this)">
    4. What are the factors responsible for the growth of HRM?
	  </div>
      <div class="accordion-content">
        <p>
			Technical factors, awakening amongst workers, attitude of the government, cultural and social system.
		</p>
      </div>
    </div>
	
	    <div class="accordion-item">
      <div class="accordion-header" onclick="toggleAccordion(this)">
    5.  Which among the followings describe the skills that are available within the company?
	  </div>
      <div class="accordion-content">
        <p>
			Human Resource inventory
		</p>
      </div>
    </div>

    <div class="accordion-item">
      <div class="accordion-header" onclick="toggleAccordion(this)">
    6. 	Who has defined personnel management as a field of management which has to do with planning and controlling various operative functions of procuring, developing, maintaining and utilising labour force?
	  </div>
      <div class="accordion-content">
        <p>
			Michael Jucius
		</p>
      </div>
    </div>
	
	    <div class="accordion-item">
      <div class="accordion-header" onclick="toggleAccordion(this)">
    7.  Resources and capabilities that serve as a source of competitive advantage for a firm over its rivals are called
	  </div>
      <div class="accordion-content">
        <p>
			core competency
		</p>
      </div>
    </div>

    <div class="accordion-item">
      <div class="accordion-header" onclick="toggleAccordion(this)">
    8. Human Resource planning is compulsory for
	  </div>
      <div class="accordion-content">
        <p>
			i. effective employee development programme <br>
            ii. base for recruitment  <br>
            iii. base for selection policy  <br>
		</p>
      </div>
    </div>
	
	    <div class="accordion-item">
      <div class="accordion-header" onclick="toggleAccordion(this)">
    9. Job analysis, HR planning, recruitment, selection, placement, inductions and internal mobility are few important functions which come under the heading of______________ of HRM.
	  </div>
      <div class="accordion-content">
        <p>
			procurement function
		</p>
      </div>
    </div>

    <div class="accordion-item">
      <div class="accordion-header" onclick="toggleAccordion(this)">
    10. Directing is one of the important functions of HRM which comes under
	  </div>
      <div class="accordion-content">
        <p>
			managerial function
		</p>
      </div>
    </div>
	
	    <div class="accordion-item">
      <div class="accordion-header" onclick="toggleAccordion(this)">
    11.  Whom does Human relation approach refer to?
	  </div>
      <div class="accordion-content">
        <p>Integration of people into a work situation that motivates them to work together to achieve productivity and also economic, psychological and social satisfaction.<br>service department
		</p>
      </div>
    </div>

    <div class="accordion-item">
      <div class="accordion-header" onclick="toggleAccordion(this)">
    12. Which of the following is a method of collection of information for job analysis?
	  </div>
      <div class="accordion-content">
        <p>
			Questionnaire method
		</p>
      </div>
    </div>
	
	    <div class="accordion-item">
      <div class="accordion-header" onclick="toggleAccordion(this)">
    13.  ___________ provides information on the human attributes in terms of education, skills, aptitudes, and experience necessary to perform a job effectively.
	  </div>
      <div class="accordion-content">
        <p>
			job specification
		</p>
      </div>
    </div>

    <div class="accordion-item">
      <div class="accordion-header" onclick="toggleAccordion(this)">
    14. Who laid the foundation of HRM practice?
	  </div>
      <div class="accordion-content">
        <p>
			Peter Drucker and Douglas McGregor
		</p>
      </div>
    </div>
	
	    <div class="accordion-item">
      <div class="accordion-header" onclick="toggleAccordion(this)">
    15.  How HRM has become a highly specialised job?
	  </div>
      <div class="accordion-content">
        <p>
			It maximises the output and satisfaction of the employees.
		</p>
      </div>
    </div>

    <div class="accordion-item">
      <div class="accordion-header" onclick="toggleAccordion(this)">
    16. Job specification includes _____________.
	  </div>
      <div class="accordion-content">
        <p>
			Answer: <br>
            i. Physical characteristics <br>
            ii. Psychological characteristics <br>
            iii. Personal characteristics <br>
		</p>
      </div>
    </div>
	
	    <div class="accordion-item">
      <div class="accordion-header" onclick="toggleAccordion(this)">
    17.  TQM’s major emphasis is on
	  </div>
      <div class="accordion-content">
        <p>
			Product quality
		</p>
      </div>
    </div>

    <div class="accordion-item">
      <div class="accordion-header" onclick="toggleAccordion(this)">
    18. Ability to perform exceptionally well and increase the stock of targeted resources within the firm is called
	  </div>
      <div class="accordion-content">
        <p>
			competency
		</p>
      </div>
    </div>
	
	    <div class="accordion-item">
      <div class="accordion-header" onclick="toggleAccordion(this)">
    19.  What is the scope of HRM?
	  </div>
      <div class="accordion-content">
        <p>
			Further researches in behavioural science, new ideas in man, management and advances in the field of training and development.
		</p>
      </div>
    </div>

    <div class="accordion-item">
      <div class="accordion-header" onclick="toggleAccordion(this)">
    20. What is the importance of controlling?
	  </div>
      <div class="accordion-content">
        <p>
			Ensure that activities are in accordance with the terms of the plan.
		</p>
      </div>
    </div>
	
    
</div>